.headline {
  &__img {
    content: url("./images/image-web-3-mobile.jpg");
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__grid {
    display: grid;
  }

  &__col {
    display: grid;
    h1 {
      font-size: 3.5rem;
      margin-block-start: 0;
      margin-block-end: 0;
      line-height: 0.95;
    }

    p {
      line-height: 1.5;
      margin-block-start: 0;
    }
  }

  &__btn {
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    padding: 1rem;
    width: 11rem;
    background-color: hsl(240, 100%, 5%);
    color: white;
    align-self: end;
  }

  &__btn:hover {
    background: hsl(5, 85%, 63%);
    cursor: pointer;
  }
}

@media (min-width: 40em) {
  .headline {
    &__img {
      content: url("./images/image-web-3-desktop.jpg");
      padding-top: 0;
      padding-bottom: 1.5rem;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
