// FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// STYLESHEET IMPORTS
@import "NewsPage";
@import "Navbar";
@import "Headline";
@import "NewNews";
@import "TopNews";

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .attribution {
    font-size: 11px;
    text-align: center;
    display: flex;
    justify-content: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}

.overlay {
  background: rgba(36, 20, 38, 0.5);
  height: "100%";
  width: "100%";
}
