.new-news {
  background-color: hsl(240, 100%, 5%);
  padding: 1.5rem 1.75rem 0 1.75rem;

  h1 {
    color: hsl(35, 77%, 62%);
    font-size: 2.5rem;
    margin-block-start: 0;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__border {
    display: block;
    border-top: 1px solid #cacbe0;
    padding: 0 0 0.5rem 0;
  }

  &__items {
    h3 {
      color: white;
    }

    h3:hover {
      color: hsl(35, 77%, 62%);
      cursor: pointer;
    }

    p {
      color: #cacbe0;
      line-height: 1.7;
    }
  }
}
