.news-page-section {
  //padding: 3rem 10rem 3rem 10rem;
  max-width: 1000px;

  .wrapper {
    display: grid;
    gap: 2rem;
  }
}

@media (width < 70em) {
  .news-page-section {
    padding: 3rem 5rem 3rem 5rem;
  }
}

@media (width < 40em) {
  .news-page-section {
    padding: 2rem 1.25rem 2rem 1.25rem;
  }
}

@media (min-width: 40em) {
  .news-page-section {
    .wrapper {
      padding-top: 3rem;
      grid-template-columns: 2fr 1fr;
    }
  }
}
