.top-news {
  padding-top: 3.5rem;

  .top-news-grid {
    display: grid;
    gap: 2rem;

    .info-grid {
      .picture,
      .news-details {
        display: table-cell;
        vertical-align: middle;
      }

      .news-details {
        padding-left: 1.25rem;
        padding-right: 1rem;
        line-height: 1.3;
        width: calc(100% - 100px);

        h1 {
          margin-block-start: 0;
          margin-block-end: 0;
          font-size: 2rem;
          color: #c5c4cc;
        }

        .title {
          font-weight: 800;
        }

        .title:hover {
          color: hsl(35, 77%, 62%);
          cursor: pointer;
        }

        .post {
          margin-block-end: 0;
          color: #4f4c53;
        }
      }

      .picture {
        img {
          height: 125px;
          width: auto;
        }
      }
    }
  }
}

@media (min-width: 40em) {
  .top-news {
    .top-news-grid {
      gap: 0;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
