.top-news {
  padding-top: 5rem;

  .top-news-grid {
    display: grid;
    gap: 2rem;

    .info-grid {
      .picture,
      .news-details {
        display: table-cell;
        vertical-align: middle;
      }

      .news-details {
        padding-left: 1rem;
        width: calc(100% - 100px);
      }

      .picture {
        img {
          height: 120px;
          width: auto;
        }
      }
    }
  }
}

@media (min-width: 40em) {
  .top-news {
    .top-news-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
